.col-12.ml-3
  .card
    .card-header
      h3
        = @place.name
        | の
        = @thing.name
        | 詳細
    = form_with(model: @thing,url: place_thing_path, local: true) do |form|
      table.table.table-striped
        tbody
          tr
            td
              | 掃除完了
            td
              .field
                = form.hidden_field :clean_day, :value => @today
                = form.submit '掃除完了', class: 'btn btn-primary'
          tr
            td
              | 状態
            td
              = hokori_parameter(@clean_progress_day,@clean_frequency)
          tr
            td
              | 最後に掃除した日
            td
              = @thing.clean_day
          tr
            td
              | 次の掃除まであと〇〇日
            td
              = @clean_limit.to_i
              | 日
          tr
            td
              | 掃除頻度
            td
              = @thing.clean_frequency
              | 日/１回
          tr
            td
              | 掃除グッズ1
            td
              = @thing.tool1
          tr
            td
              | 掃除グッズ2
            td
              = @thing.tool2
          tr
            td
              | 掃除グッズ3
            td
              = @thing.tool3
          tr
            td
              | 掃除グッズ4
            td
              = @thing.tool4
          tr
            td
              | 掃除グッズ5
            td
              = @thing.tool5
          tr
            td
              | ワンポイントメモ
            td
              = simple_format(h(@thing.remarks))
          tr
            td
              | 画像
            td
              = image_tag @thing.image, :size =>'900x600' if @thing.image.attached? 
  br
