h1
  | モノ一覧
.container
  table.table
    - @things.each do |thing|
      tr id="thing-#{thing.id}"
        td
          = link_to thing.name,place_thing_path(thing.place_id,thing),class: "btn btn-outline-primary"
        td
          = link_to '編集', edit_place_thing_path(thing.place_id,thing),class: "btn btn-outline-dark"
        td
          = link_to '削除', place_thing_path(thing.place_id,thing), method: :delete, remote: true,
          data: { confirm: '本当に削除しますか?' },class:"btn btn-outline-dark delete"
br
