<nav class="navbar navbar-expand-sm navbar-light"style="background-color:#FFFFF0;">
    <!-- ホームへ戻るリンク。ブランドロゴなどを置く。 -->
    <a href="/" class="navbar-brand">本日の掃除</a>

    <!-- 横幅が狭いときに出るハンバーガーボタン -->
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- メニュー項目 -->
    <div class="collapse navbar-collapse" id="nav-bar">
        <ul class="navbar-nav w-100 nav-justified">
            <li class="nav-item active"><%= link_to"場所一覧",places_path %></li>
            <li class="nav-item"><%= link_to"モノ一覧",user_things_path %></li>
            <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        </ul>
    </div>
</nav>